pip
setuptools
wheel

python-dotenv
-e assets/TTS-dev/
discord.py[voice]
ffmpeg-python
langchain
pyaudio
onnxruntime
SpeechRecognition
git+https://github.com/openai/whisper.git

--extra-index-url https://download.pytorch.org/whl/cu121 # if necessary change to the cuda version needed
torch
torchaudio
torchvision 