#### general
tqdm
numpy
pandas


#### scraping
# selenium
# webdriver_manager
bs4
requests

#### processing
scipy
scikit-learn
spacy

#### for BERT embeddings
torch
transformers

#### for better embeddings
sentence_transformers

#### visualization
wordcloud
gensim
nltk
matplotlib
tabulate

##### spacy models
de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.6.0/de_core_news_sm-3.6.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl

